<header>

<div class="nav container">

<!--Icon Menu-->
<i class='bx bx-menu' id="menu-icon"></i>
<!--Logo-->
<a href="#" class="logo">VM<span>AUTO</span></a>
<!--NavBar List-->
<ul class="navbar">
<li><a href="/" class="active">Acceuil</a></li>
<li><a href="/">Nos Meilleures Ventes</a></li>
<li><a href="/">Notre Catalogue</a></li>
<li><a href="mailto:contact@vh-auto.fr">Contact</a></li>
</ul>

<i class='bx bx-search-alt' id="search-icon"></i>
<div class="search-box container">
<input type="search" name="" id="" placeholder="Rechercher un Vehicule...">
</div>

</div>

</header>