<header>

<div class="nav container">

<!--Icon Menu-->
<i class='bx bx-menu' id="menu-icon"></i>
<!--Logo-->
<a href="/" class="logo">VM<span>AUTO</span></a>
<!--NavBar List-->
<ul class="navbar">
<li><a href="#" class="active">Acceuil</a></li>
<li><a href="#popcars">Nos Meilleures Ventes</a></li>
<li><a href="#cata">Notre Catalogue</a></li>
<li><a href="mailto:contact@vh-auto.fr">Contact</a></li>
</ul>

<a href="https://www.snapchat.com/add/guzman-75013?share_id=z9LDvpdBX1M&locale=fr-FR"><i class='bx bxl-snapchat'id="search-icon" style="font-size:30px;"></i></a>
<div class="search-box container">
<input type="search" name="" id="" placeholder="Rechercher un Vehicule...">
</div>

</div>

</header>