{% extends 'base.html.twig' %}

{% block title %}Mentions Legales - VHAUTO{% endblock %}

{% block body %}
{% include "./partials/_legalsheader.html.twig" %}
<section class="terms">
<div class="heading">
		<span style="text-align:center">Nos Mentions Legales</span>
		<h2 style="text-align:center">Date de Publication: 06/10/2023</h2>
	</div>
    <div class="terms__content">
<p style="text-align:center"><strong> </strong><br />
Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique,<br>
 dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="http://www.vhauto.fr" target="_blank">www.vhauto.fr</a> les informations suivantes :
 </p>
 <br>

<p style="text-align:center"><strong>ÉDITEUR</strong></p>

<p style="text-align:center">Le site <a href="http://www.vhauto.fr" style="color: rgb(7, 130, 193); font-family: sans-serif, Arial, Verdana, " target="_blank">www.vhauto.fr</a> est la propriété exclusive de <strong>AUTO-ENTREPRENEUR </strong><strong>VH AUTO</strong>, qui l'édite.</p>

<p style="text-align:center"><strong>VH AUTO</strong><strong> </strong><br />
<strong>AUTO-ENTREPRENEUR </strong>€Tél  : <strong>01020205078</strong></p>

<p style="text-align:center"><strong>8 RUE EUGENE BIRE   </strong><strong>77500 CHELLES</strong><br />
Immatriculée au Registre du Commerce et des Sociétés de  <strong>Meaux A 809 974 306 </strong>sous le numéro<strong> </strong><strong>80997430600015</strong><strong> </strong></p>

<p style="text-align:center">Numéro TVA intracommunautaire : <strong>FR83809974306</strong><br />
Adresse de courrier électronique : <strong>contact@vhauto.fr</strong> <br />
 <br />
Directeur de la  publication : <strong>KERBOYAN VAHRAM</strong><br />
Contactez le responsable de la publication : <strong>contact@vhauto.fr</strong></p>

<br>
<p style="text-align:center"><strong>HÉBERGEMENT</strong></p>

<p style="text-align:center">Le site est hébergé par <strong>IONOS SARL 43130377500016 au capital de 100 000</strong><br />
<p style="text-align:center">dont le siege social est: 7 PL DE LA GARE 57200 SARREGUEMINES</p>


<p style="text-align:center"> </p>

<p style="text-align:center"><strong>DESCRIPTION DES SERVICES FOURNIS</strong></p>

<p style="text-align:center">Le site <a href="http://www.vhauto.fr" style="text-align: justify;" target="_blank">www.vhauto.fr</a> a pour objet de fournir une information concernant l’ensemble des activités de la société. <br>Le proprietaire du site s’efforce de fournir sur le site <a href="http://www.vhauto.fr" style="text-align: justify;" target="_blank">www.vhauto.fr</a> des informations aussi précises que possible. <br>Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. Tous les informations proposées sur le site <a href="http://www.vhauto.fr" style="text-align: justify;" target="_blank">www.vhauto.fr</a> sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.  </p>
<br>
<p style="text-align:center"><strong>PROPRIETE INTELLECTUELLES</strong></p>

<p style="text-align:center">Le site <a href="http://www.vhauto.fr" style="text-align: justify;" target="_blank">www.vhauto.fr</a> utilise des images libres de droits venants de librairies gratuites ou d'images<br> dont il est proprietaire et possède donc un droit d'auteur et d'usage de ses dernieres,le site vhauto utilise<br>
des noms de marques ou des logos qui eux sont l'exclusif propriété de leurs entreprise ou createurs .</p>


    </div>
</section>

<!--FOOTER-->
{% include "./partials/footer.html.twig" %}
{% endblock %}