<section class="cata" id="cata">
	<div class="heading">
		<span>Notre Catalogue</span>
		<h2>Decouvrez Tous nos Vehicules</h2>
		<p>parmis + de 200 references , vous y trouverez forcement votre bohneur.</p>
	</div>
 
<div class="swiper car-slider esp">
		<div class="swiper-wrapper">

<!--Car 1-->
			<div class="swiper-slide  featured-car-card">
				<img src="https://i.goopics.net/5xu3ab.jpg" alt="Audi Q3 2023" width="480px" height="300px"></img>
			<div class="car-content">
				<h3>Audi Q3 Sportback 45 TFSI e&nbsp;&nbsp;&nbsp;<data class="year" value="2023">2023</data></h3>
				<div class="car__box__price">
					<span>A Partir de :</span>&nbsp; 1220 € / mois&nbsp;</div>
                    	<div class="car__box__price">
					<span>Nombre de Mensualites :</span>&nbsp;36&nbsp;Mois&nbsp;</div>
				<p>
					<i class="fa-solid fa-user-large"></i>5 places
					<i class='bx bxs-ev-station'></i>Hybrides
						<i class='bx bx-transfer' ></i>204 CV
					<i class='bx bx-tachometer' ></i>Automatique
				</p>

			</div>
		</div>


<!--Car 2-->
			<div class="swiper-slide  featured-car-card">
				<img src="https://i.goopics.net/1m9djl.png" alt="Audi RS3"width="480px" height="300px"></img>
			<div class="car-content">
				<h3>Audi RS3 Blanc Full Option&nbsp;&nbsp;&nbsp;<data class="year" value="2022">2022</data></h3>
				<div class="car__box__price">
					<span>A Partir de :</span>&nbsp; 1500 € / mois&nbsp;</div>
                    	<div class="car__box__price">
					<span>Nombre de Mensualites :</span>&nbsp;36&nbsp;Mois&nbsp;</div>
				<p>
					<i class="fa-solid fa-user-large"></i>5 places
					<i class='bx bxs-ev-station'></i>Essence
						<i class='bx bx-transfer' ></i>400 CV
					<i class='bx bx-tachometer' ></i>Automatique
				</p>

			</div>
		</div>

    <!--Car 3-->
			<div class="swiper-slide  featured-car-card">
				<img src="https://i.goopics.net/kay3ll.jpg" alt="rs3 noir" width="480px" height="300px"></img>
			<div class="car-content">
				<h3>Audi RS3 Noir Full Option&nbsp;&nbsp;&nbsp;<data class="year" value="2022">2022</data></h3>
				<div class="car__box__price">
					<span>A Partir de :</span>&nbsp; 1500 € / mois&nbsp;</div>
                    	<div class="car__box__price">
					<span>Nombre de Mensualites :</span>&nbsp;36&nbsp;Mois&nbsp;</div>
				<p>
					<i class="fa-solid fa-user-large"></i>5 places
					<i class='bx bxs-ev-station'></i>Essence
						<i class='bx bx-transfer' ></i>400 CV
					<i class='bx bx-tachometer' ></i>Automatique
				</p>

			</div>
		</div>

 <!--Car 4-->
			<div class="swiper-slide  featured-car-card">
				<img src="https://i.goopics.net/u15pdr.png" alt="clio 5 rsline" width="480px" height="300px"></img>
			<div class="car-content">
				<h3>Clio 5 RS LINE&nbsp;&nbsp;&nbsp;<data class="year" value="2022">2022</data></h3>
				<div class="car__box__price">
					<span>A Partir de :</span>&nbsp; 500 € / mois&nbsp;</div>
                    	<div class="car__box__price">
					<span>Nombre de Mensualites :</span>&nbsp;36&nbsp;Mois&nbsp;</div>
				<p>
					<i class="fa-solid fa-user-large"></i>5 places
					<i class='bx bxs-ev-station'></i>Essence
						<i class='bx bx-transfer' ></i>120 CV
					<i class='bx bx-tachometer' ></i>Automatique
				</p>

			</div>
		</div>

 <!--Car 5-->
			<div class="swiper-slide  featured-car-card">
				<img src="https://i.goopics.net/wism5g.png" alt="Renault 2008" width="480px" height="300px"></img>
			<div class="car-content">
				<h3>Renault 2008&nbsp;&nbsp;&nbsp;<data class="year" value="2022">2022</data></h3>
				<div class="car__box__price">
					<span>A Partir de :</span>&nbsp; 800 € / mois&nbsp;</div>
                    	<div class="car__box__price">
					<span>Nombre de Mensualites :</span>&nbsp;36&nbsp;Mois&nbsp;</div>
				<p>
					<i class="fa-solid fa-user-large"></i>5 places
					<i class='bx bxs-ev-station'></i>Essence
						<i class='bx bx-transfer' ></i>130 CV
					<i class='bx bx-tachometer' ></i>Automatique
				</p>

			</div>
		</div>

 <!--Car 6-->
			<div class="swiper-slide  featured-car-card">
				<img src="https://i.goopics.net/9ajs8y.jpg" alt="3008 gt" width="480px" height="300px"></img>
			<div class="car-content">
				<h3>Renault 3008 GT&nbsp;&nbsp;&nbsp;<data class="year" value="2022">2022</data></h3>
				<div class="car__box__price">
					<span>A Partir de :</span>&nbsp; 1200 € / mois&nbsp;</div>
                    	<div class="car__box__price">
					<span>Nombre de Mensualites :</span>&nbsp;36&nbsp;Mois&nbsp;</div>
				<p>
					<i class="fa-solid fa-user-large"></i>5 places
					<i class='bx bxs-ev-station'></i>Diesel
						<i class='bx bx-transfer' ></i>130 CV
					<i class='bx bx-tachometer' ></i>Automatique
				</p>

			</div>
		</div>

		  
</div>
<div class="swiper-pagination z"></div>
</div>
	</section>
