<section class="hero" id="hero">
  <div class="hero-text">
    <h1>Vos Berlines D'Exeception sont chez VM<span>Auto</span></h1>
    <p>De la voiture familliale a la voiture du Week-end<br>
    Toutes les berlines d'execption sont chez VMAUTO<br>
    de nombreux vehicules sont disponible hors site internet , <br>
    faites une recherche personnalise en nous envoyant un mail
    </p>
    <!--Heros Buttons-->
    <a href="#catalogue" class="btn-hero">Decouvrir Notre Catalogue</a>
  </div>

</section>